<div class="col-12 text-center my-5">
  <h1 class="display-5">Seu nome: <%= current_user.name %></h1>
  <div>
    <p class="lead"><%= link_to("Trocar meu nome", edit_name_path, id:"change-username", class: "txt1") %></p>
	</div>
</div>
