<div class="col-12 text-center my-5" >
  <h1>Parabéns! Você finalizou o nosso simulado.</h1>
  <br>
  <h3>Aqui estão seus resultados:</h3>
  <br>
  <p class="lead">Quantidade de acertos: <%= @cont %> acerto(s)</p>
  <p class="lead">Seu rendimento na prova foi de: <%= @percent %>% <br><%= @percent_message %></p>
</div>