<div class="container">
  <div class="row">
    <div class="col-12 text-center my-5">
      <h1 class="display-5"><%= @simulado.title %></h1>
      <br>
      <p class="lead my-4", style="font-size: 32px;">Questões</p>
    </div>
  </div>
</div>