<table class="col-4 offset-4 table">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">Questão</th>
        <th scope="col">Acertou</th>
        <th scope="col">Errou</th>
        <th scope="col">Gabarito</th>
      </tr>
    </thead>
    <tbody>
        <% @answers.each do |result| %>
          <tr class="bg-secondary text-white">
            <th scope="row"><%= result.question_id %></th>
            <% if result.correct == true %>
              <td><i class="fas fa-check text-success"></i></td>
              <td>-</td>
            <% else %>
              <td>-</td>
              <td><i class="fas fa-times text-danger"></i></p></td>
            <% end %>
            <td><%= result.question.correct_answer %></td>
          </tr>
        <% end %>
    </tbody>
  </table>