<p>Olá <%= @name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para notificar que seu email foi mudado para  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notificar que seu email foi mudado para  <%= @resource.email %>.</p>
<% end %>
