<p>Olá <%= @resource.name %>!</p>

<p>Parece que você solicitou a troca de sua senha. Você pode fazê-la através do link abaixo:</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você, por favor desconsidere essa mensagem.</p>
<p>Sua senha não será mudada enquanto você não clicar no link e trocar a mesma.</p>
