<p>Olá <%= @resource.name %>!</p>

<p>Infelizmente sua conta foi bloqueada temporariamente devido a um grande número de tentativas de login.</p>

<p>Para desbloquea-la, clique no link abaixo:</p>

<p><%= link_to 'Desbloquear sua conta', unlock_url(@resource, unlock_token: @token) %></p>
